li a:hover{
    color: black;
    border-bottom: 1px rgb(39, 102, 184) solid;
    transition: all;
}

div#cover{
    background-image: url("Images/cityNight.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
div#body{
    width: 100%;
}

/* div.col-4{
    margin-left: 10%;
} */

div#columns{
    border: black 3px solid;
}

footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ade8f4;
}