/* ///////////////  General Styles /////////////////// */

/*Nav Bar styles*/
li a:hover{
    color: black;
    border-bottom: 1px rgb(39, 102, 184) solid;
    transition: all;
}

div#cover{
    background-image: url("Images/cityNight.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
div#body{
    width: 100%;
}

footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ade8f4;
}
/* div.col-4{
    margin-left: 10%;
} */

div.row{
    border: black 3px solid;
}
div.col-5{
    border: black 3px solid;
}

/* ///////////// Contact Pg Styles //////////////// */

#contact{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 6%;
}

p#icon{
    background-color: #ade8f4;
    width: 55%;
    height:35%;
    border-radius: 40px;
    padding-left: 9%;
    padding-top: 3%;
}

#submit{
    margin-bottom: 5%;
}

